*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    position: relative;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-image: url('./assets/fundo.jpg');
    box-sizing: border-box;
}

.head_container{
    padding: 1em 1em;
    background-color: rgb(233, 242, 250,0.5);
}


.title{
    font-size: 30px;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    height: 100px;
    font-family: monospace;
    justify-content: center;
}

h5{
    display: contents;
    color: rgb(0, 0, 0);
    font-size: 17px;
}

.main_container{
    background-color: rgb(233, 242, 250,0.5);
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: space-around;
}

#numberToConvert{
    width: 16vw;
    margin-top: 0.30em;
    padding: 0.35em;
    border: 2px solid rgb(53, 54, 54);
    background-color: transparent!important;
    font-size: 20px;
}

#numberToConvert:active{
    background-color: transparent!important;
}

label{
    font-size: 23px;
    font-weight: bold;
}


#btnClean, #btnConvert{
    width: 100px;
    padding: 0.50em;
    margin: 2em 1em;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

#btnClean{
    background-color: rgb(212, 51, 51);
    opacity: 0.90;
}

#btnConvert{
    background-color: rgb(90, 143, 94);
    opacity: 0.90;
}

.result_container{
    background-color: rgb(233, 242, 250,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 26px;
    font-weight: bold;
}

#result{
    border: 2px solid rgb(33, 34, 33);
    padding: 0.50em 0.90em;
    margin: 0.5em 0 0.5em 0;
}